<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="dogController" class="dogapp.controller.DogController">
        <constructor-arg ref="cglibTransactionalProxy"/>
    </bean>
    <bean id="exceptionHandler" class="dogapp.controller.RestExceptionHandler"/>
    <bean id="postgresDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
        <property name="username" value="postgres"/>
        <property name="password" value="root"/>
    </bean>
    <bean id="flywayConfig" class="org.flywaydb.core.api.configuration.ClassicConfiguration">
        <property name="dataSource" ref="postgresDataSource"/>
    </bean>
    <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
        <constructor-arg ref="flywayConfig"/>
    </bean>
    <bean id="dogServiceImpl" class="dogapp.service.DogServiceImpl">
        <constructor-arg ref="dogDao"/>
    </bean>
    <bean id="jdbcConnectionHolder" class="dogapp.JdbcConnectionHolder">
        <constructor-arg ref="postgresDataSource"/>
    </bean>
    <bean id="transactionalDogService" class="dogapp.service.TransactionalDogService">
        <constructor-arg ref="dogServiceImpl"/>
        <constructor-arg ref="jdbcConnectionHolder"/>
    </bean>
    <bean id="transactionalProxy" class="dogapp.service.TransactionalProxy" factory-method="newInstance">
        <constructor-arg ref="dogServiceImpl"/>
        <constructor-arg ref="jdbcConnectionHolder"/>
    </bean>
    <bean id="cglibTransactionalProxy" class="dogapp.service.CglibTransactionalDogService" factory-method="newInstance">
        <constructor-arg ref="dogServiceImpl"/>
        <constructor-arg ref="jdbcConnectionHolder"/>
    </bean>
    <beans profile="default">
        <bean id="dogDao" class="dogapp.dao.InMemoryDogDao"/>
    </beans>
    <!--<beans profile="h2-jdbc">-->
        <!--<bean id="dogDao" class="dogapp.dao.JdbcDogDao">-->
            <!--<constructor-arg>-->
                <!--<jdbc:embedded-database id="dataSource" type="H2">-->
                    <!--<jdbc:script location="classpath:/db/schema.sql"/>-->
                <!--</jdbc:embedded-database>-->
            <!--</constructor-arg>-->
        <!--</bean>-->
    <!--</beans>-->
    <beans profile="postgres-jdbc">
        <bean id="dogDao" class="dogapp.dao.JdbcDogDao">
            <constructor-arg ref="jdbcConnectionHolder"/>
        </bean>
    </beans>
</beans>