<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <aop:aspectj-autoproxy/>

    <bean id="dogController" class="dogapp.controller.DogController">
        <constructor-arg ref="cglibTransactionalProxy"/>
    </bean>
    <bean id="dogServiceImpl" class="dogapp.service.DogServiceImpl">
        <constructor-arg ref="dogDao"/>
    </bean>
    <bean id="exceptionHandler" class="dogapp.controller.RestExceptionHandler"/>
    <beans profile="default">
        <bean id="dogDao" class="dogapp.dao.InMemoryDogDao"/>
    </beans>
    <beans profile="h2,postgres">
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="#{properties.driverClassName}"/>
            <property name="url" value="#{properties.url}"/>
            <property name="username" value="#{properties.username}"/>
            <property name="password" value="#{properties.password}"/>
        </bean>
        <bean id="dogDao" class="dogapp.dao.JdbcDogDao">
            <constructor-arg ref="jdbcConnectionHolder"/>
        </bean>
        <bean id="flywayConfig" class="org.flywaydb.core.api.configuration.ClassicConfiguration">
            <property name="dataSource" ref="dataSource"/>
        </bean>
        <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
            <constructor-arg ref="flywayConfig"/>
        </bean>
        <bean id="jdbcConnectionHolder" class="dogapp.JdbcConnectionHolder">
            <constructor-arg ref="dataSource"/>
        </bean>
        <bean id="transactionalDogService" class="dogapp.service.TransactionalDogService">
            <constructor-arg ref="dogServiceImpl"/>
            <constructor-arg ref="jdbcConnectionHolder"/>
        </bean>
        <bean id="transactionalProxy" class="dogapp.service.TransactionalProxy" factory-method="newInstance">
            <constructor-arg ref="dogServiceImpl"/>
            <constructor-arg ref="jdbcConnectionHolder"/>
        </bean>
        <bean id="cglibTransactionalProxy" class="dogapp.service.CglibTransactionalDogService"
              factory-method="newInstance">
            <constructor-arg>
                <bean class="dogapp.service.DogServiceImpl">
                    <constructor-arg ref="dogDao"/>
                </bean>
            </constructor-arg>
            <constructor-arg ref="jdbcConnectionHolder"/>
            <constructor-arg ref="dogDao"/>
        </bean>
        <bean id="transactionalAspect" class="dogapp.aspect.TransactionalAspect">
            <constructor-arg ref="jdbcConnectionHolder"/>
        </bean>
    </beans>
    <beans profile="h2">
        <util:properties id="properties" location="classpath:h2.properties"/>
    </beans>
    <beans profile="postgres">
        <util:properties id="properties" location="classpath:postgres.properties"/>
    </beans>
</beans>