<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <import resource="/otherContext.xml"/>

    <bean id="springHelloWorld" class="spring.xmlconfig.SpringHelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>
    <bean id="springHelloWorldPrinter" class="spring.xmlconfig.SpringHelloWorldPrinter">
        <property name="springHelloWorld" ref="springHelloWorld"/>
    </bean>

</beans>